In [17]:
import pandas as pd
import textwrap

In [18]:
df = pd.read_csv(
            'https://raw.githubusercontent.com/anhquan0412/dataset/main/Salaries.csv')
df.drop(columns=['Notes', 'Status', 'Agency'], inplace=True)
df['JobTitle'] = df['JobTitle'].str.title()

In [19]:
solution = """
            df_top5 = df['JobTitle'].value_counts().head().index
            result = pd.pivot_table(
                data=df[df['JobTitle'].isin(df_top5)],
                index=['JobTitle'],
                columns=['Year'],
                values=['BasePay', 'OvertimePay', 'TotalPay']
            )
"""
exec(textwrap.dedent(solution))

In [20]:
result = locals()['result']
result

                       BasePay                                               \
Year                      2011           2012           2013           2014
JobTitle
Custodian         37230.191533   40020.563382   45696.667885   44499.800846
Firefighter       99308.501763  101389.955415  106700.682907   98847.538945
Registered Nurse  94940.098925   97208.295020  107797.280475  103167.181329
Special Nurse     28292.056569   29568.771678   30245.310994   29979.047409
Transit Operator  48681.263028   52227.817175   55401.128487   48086.056434

                   OvertimePay                                            \
Year                      2011          2012          2013          2014
JobTitle
Custodian          1223.509234   1286.447794   1611.295513   1970.906095
Firefighter       24217.065907  29857.842740  30495.741210  24944.599988
Registered Nurse   3724.198179   3845.544925   4241.014127   4538.823663
Special Nurse       602.119501    653.711044    547.971647    751.187050
Transit Operator  11341.056290  10978.822750  11314.017725  11135.222150

                       TotalPay
Year                       2011           2012           2013           2014
JobTitle
Custodian          40521.552776   43639.099188   48946.204512   48750.944502
Firefighter       139292.045945  146907.507813  152036.641682  138998.251043
Registered Nurse  106621.140689  109596.727868  120677.075581  117023.096645
Special Nurse      31325.075942   32743.752824   33250.277945   33490.350629
Transit Operator   61742.636353   65524.890376   67574.008684   61318.264522